{% extends 'base.html' %}

{% block container %}
<section style="background-color:#273755;" class="hero is-large is-dark">
    <div  class="hero-body">
        <div class="container">
            <h1  style="color:#8AB73F" class="title is-1">
                Teamtrees donations
            </h1>
            <h2  style="color:#8AB73F" id="amount" class="subtitle is-1">
                € ...
            </h2>
            <!-- <progress class="progress" value="15" max="100">15%</progress> -->
        </div>
    </div>
    <div style="margin-left:1em;" class="tags has-addons">
        <span class="tag">Made by</span>
        <span style="background-color:#ff7f00" class="tag is-primary">ZeusWPI</span>
    </div>
    <div></div>
</section>
{% endblock %}

{% block scripts %}
<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    async function load_amount() {
        while (true) {
            console.log("Querrying ammount");
            $.ajax({
                url: "/amount",
                context: document.body
            }).done(function(data) {
                $("#amount").text(`€ ${data/100}`);
            });
            await sleep(2000);
        }
    }
    load_amount();
</script>
{% endblock %}
