<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Teamtrees</title>
</head>

<body>
    <img class="cloud" id="cloud-1" src="{{ url_for('static', filename='images/cloud.svg') }}">
    <img class="cloud" id="cloud-2" src="{{ url_for('static', filename='images/cloud-translucent.svg') }}">
    <img class="cloud" id="cloud-3" src="{{ url_for('static', filename='images/cloud.svg') }}">
    <img class="cloud" id="cloud-4" src="{{ url_for('static', filename='images/cloud-translucent.svg') }}">
    <article class="container">
        <h1>TeamTrees donations</h1>
        <h2 id="amount">€ 5.85</h2>
        <h2 id="count"></h2>
        <!-- <div class="progress-bar"> -->
        <!-- <div class="progress-bar__progress"></div> -->
        <!-- </div> -->
    </article>

    <aside>
        <p>made with <3 by <span>zeus</span></p>
    </aside>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    <script>
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        async function load_amount() {
            while (true) {
                console.log("Querrying ammount");
                $.ajax({
                    url: "/amount",
                    context: document.body
                }).done(function(data) {
                    console.log(data)
                    $("#amount").text(`€ ${data['amount']/100}`);
                    $("#count").text(`${data['count']}`);
                });
                await sleep(2000);
            }
        }
        load_amount();
    </script>

</body>

</html>
